html {
	background-image: url(cat.jpg);
	background-image: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

body {
	background-color: #F7882F;
	font-family: "Courier";
	font-size: 15px;
}

#container1 {
	position: relative;
	text-align: center;
	float: center;
}

#container2 {
	position: relative;
	background: #F5C02E;
	padding-bottom: 20px;
}

#container3 {
	position: relative;
	width: 200px;
	padding-left: 5px;
}

#definition {
	text-align: center;
	color: white;
	font-size: 25px;
}

#text {
	color: lightslategrey;
}

#resize {
	width: 400px;
	height: 30px;
}

.button {
	font-size: 15px;
	background-color: #F7C331; /* #4CAF50; Green */
  	color: 6B7A8F;
	cursor: pointer;
 	padding: 5px 20px;
}

.button:hover {background-color: #B0C4DE;}

.button:active {
  	background-color: #DCC7AA; /*#1E90FF*/
}

#contribute {
	margin-top: 5px;
	background-color:  #F7882F;
	color: white;
}

#heading {
	padding-top: 10px;
	color: white !important;
}

#heading2 {
	margin-top: 25px;
	color: white;
	background: #F5C02E;
	text-align: center;
	font-size: 25px;
}